<footer class="footer bg-dark-footer relative     mt-24">
    <!-- Back to top -->
    <div onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 right-5 h-9 w-9 text-center bg-amber-500   leading-9">
        <i class="fa-solid fa-arrow-up"></i>
    </div>
    <div class="container">
        <div class="grid grid-cols-1 relative py-16 overflow-hidden">
            <div class="grid md:grid-cols-12 grid-cols-1 gap-[50px] mt-4">
                <div class="md:col-span-4 col-span-12 lg:mr-10">
                    <a href="/" class="text-[22px] focus:outline-none">
                        <img data-src="/images/logo-dark-6e73b18a66c6d0216a7a48daf7bbdee4.svg" alt="stash games" class="max-w-[200px] lazyload" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="168" height="50">
                    </a>
                    <div class="flex gap-[12px]   mt-10  ">
                        <a href="https://play.google.com/store/apps/details?id=io.stashteam.games.tracker.stashapp" class="hover:opacity-80 ">
                            <img src="/images/stash/gp-703765ec5490dd2aa93e3660dffbd22d.webp" class="rounded-xl" alt="stash google play" width="168" height="56" loading="lazy">
                        </a>
                        <a href="https://apps.apple.com/app/id1479450797" class="hover:opacity-80">
                            <img src="/images/stash/as-f1adfe3bae31a0d191e4931295c88e5f.webp" class="rounded-xl" alt="stash app stote" width="168" height="56" loading="lazy">
                        </a>
                    </div>
                    <ul class="list-none mt-10 gap-[12px] grid grid-cols-12 md:grid-cols-6 ">
                        <li class="inline">
                            <a href="https://facebook.com/StashApp-122231719167474" target="_blank" class="btn btn-icon btn-md border border-cod-gray-800 rounded-md
                                                        hover:bg-cod-gray-800">
                                <i class=" fa-brands fa-facebook  text-xl" title="facebook"></i>
                            </a>
                        </li>
                        <li class="inline">
                            <a href="https://instagram.com/stashgames" target="_blank" class="btn btn-icon btn-md border border-cod-gray-800 rounded-md
                                                        hover:bg-cod-gray-800">
                                <i class="fa-brands fa-instagram  text-xl" title="instagram"></i>
                            </a>
                        </li>
                        <li class="inline">
                            <a href="https://twitter.com/StashTrackGames" target="_blank" class="btn btn-icon btn-md border border-cod-gray-800 rounded-md
                                                        hover:bg-cod-gray-800">
                                <i class="fa-brands fa-x-twitter  text-xl" title="twitter"></i>
                            </a>
                        </li>
                        <li class="inline">
                            <a href="https://www.tiktok.com/@stashgamestracker" target="_blank" class="btn btn-icon btn-md border border-cod-gray-800 rounded-md
                                                        hover:bg-cod-gray-800">
                                <i class="fa-brands fa-tiktok  text-xl" title="tiktok"></i>
                            </a>
                        </li>
                        <li class="inline">
                            <a href="https://www.youtube.com/@stash_games" target="_blank" class="btn btn-icon btn-md border border-cod-gray-800 rounded-md hover:bg-cod-gray-800">
                                <i class="fa-brands fa-youtube text-xl" title="youtube"></i>
                            </a>
                        </li>
                    </ul>
                    <!--end icon-->
                </div>
                <!--end col-->
                <div class="  md:col-span-4 sm:col-span-6 col-span-12">
                    <div class="text-lg font-semibold">Contact Details</div>
                    <div class="flex mt-6 items-center">
                        <i class="fa-solid fa-envelope  text-amber-500 mr-3 mt-1"></i>
                        <a href="/cdn-cgi/l/email-protection#7910171f16390a0d180a11571e18141c0a" class="text-md  hover:text-gray-400 duration-500 ease-in-out">
                            <span class="__cf_email__" data-cfemail="0c65626a634c7f786d7f64226b6d61697f">[email &#160;protected]</span>
                        </a>
                    </div>
                </div>
                <!--end col-->
                <div class="  md:col-span-4 sm:col-span-6 col-span-12">
                    <div class="text-lg   font-semibold">Usefull Links</div>
                    <ul class="list-none footer-list mt-6">
                        <li class="mt-[10px]">
                            <a href="/terms" class="text-md hover:text-gray-400 duration-500 ease-in-out">
                                <i class="fa-solid fa-angle-right mr-2"></i>
                                Terms & Condition
                            </a>
                        </li>
                        <li class="mt-[10px]">
                            <a href="/privacy" class="text-md   hover:text-gray-400 duration-500 ease-in-out">
                                <i class="fa-solid fa-angle-right mr-2"></i>
                                Privacy policy
                            </a>
                        </li>
                    </ul>
                </div>
                <!--end col-->
            </div>
            <!--end grid-->
        </div>
    </div>
    <!--end container-->
    <div class="py-[35px]   bg-dark  ">
        <div class="container text-center">
            <div class="grid md:grid-cols-2 items-center gap-6">
                <div class="md:text-left text-center">
                    <p class="  ">
                        © <span id="currentYear"></span>
                        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                        <script>
                            var currentDate = new Date();
                            var currentYear = currentDate.getFullYear();
                            var currentYearElement = document.getElementById('currentYear');
                            currentYearElement.textContent = currentYear;
                        </script>
                        Stash. Design with <i class="fa-solid fa-heart "></i>
                    </p>
                </div>
                <div class="md:text-right text-center">
                    <p class="">
                        Games metadata is powered by <a href="https://igdb.com" target="_blank" class="text-amber-600 hover:text-amber-700">IGDB.com</a>
                    </p>
                </div>
            </div>
            <!--end grid-->
        </div>
        <!--end container-->
    </div>
</footer>